@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
  font-family: "Poppins",sans-serif;  
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100vw;
    flex-direction: row;
    /* gap: 10px; */
    background-color: #1e3f88;
    gap: 50px;


}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 110px;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.navbar ul li{
    list-style-type: none;
    
    color: white;
        width:100px ;
        font-weight: bolder;
        font-size: 18px;
        font-family: "Poppins";
        
  
      
}
.navbar ul  li {
    /* list-style-type: none; */

 
    text-decoration: none;
      color: white;
      
    /* background-color: white; */
    /* height: 100%;
    widt */
    width: 150px;
    
    

}
 .logo{
    height: 100px;
    width: 190px;
     margin-right: 80px;
     /* object-fit: cover; */
         object-fit: cover;
         margin-top: 20px;
     

}
.logo img{
    height:80% ;
    width: 100%;


   
}
.navbar button{
    height: 50px;
    width: 180px;
 
border-radius: 5px;
font-weight: bold;
font-size: 15px;
color:white;
cursor:pointer;
background-color: black;
font-family: "Poppins";
border-color: white;
position: relative;
margin-left: -250px;

}

.navbar button:hover{
  
     background: linear-gradient(to bottom, rgba(113, 121, 212, 0.83) 50%, rgba(0, 0, 255, 0.848) 50%);
}
/* .order-btn{
    display: none;
} */

.order-btn button{
display: none;
height: 0;
width: 0;

  }

@media (max-width: 1380px) {

.navbutton{
    display: none;
}
    
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; /* increased padding so hamburger moves more right */
    height: 90px;
    position: relative;
  }

  /* hide menu initially */
  .navbar ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40vh;
    background-color: #1e3f88;
    gap: 25px;
    display: none;
    padding-top: 30px;
    z-index: 10;
  }

  .navbar.active ul {
    display: flex;
  }

  /* list items larger and bolder */
  .navbar ul li {
    font-size: 26px;
    font-weight: 700;
    width: auto;
  }

  /* "Order Now" button inside ul */
  .order-btn button {
    width: 200px;
    height: 55px;
    font-size: 17px;
    margin-top: 15px;
    display: block;
    margin-left: 0;

  }

  /* hide any separate button container */
  /* .navbutton {
    display: none;
  } */

  /* Logo smaller and fixed left */
  .logo {
    margin: 0;
    height: 80px;
    width: 160px;
  }

  .logo img {
    height: 100%;
    width: auto;
  }

  /* Hamburger icon */
  .hamburger {
    display: block;
    cursor: pointer;
    width: 35px;
    height: 3px;
    background-color: white;
    position: absolute;
    right: 40px; /* push slightly more right */
    top: 35px;
    transition: all 0.3s ease;
    z-index: 15; /* stay above menu */
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }

  .hamburger::before {
    transform: translateY(-10px);
  }

  .hamburger::after {
    transform: translateY(10px);
  }

  /* Active hamburger -> X */
  .navbar.active .hamburger {
    background-color: transparent;
  }

  .navbar.active .hamburger::before {
    transform: rotate(45deg);
  }

  .navbar.active .hamburger::after {
    transform: rotate(-45deg);
  }
}